@model RadhaCapitalFinance.Core.Entities.LoginModel
@{
    ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}
<style>
	body{
		background-color: #A4D9DB;
	}
	
</style>
<div>
	<div class="row">
		<div class="col-12 col-md-5 mx-md-auto">
			<div class="card">
				<div class="card-body">
					<h4 style="color:darkred;">Login</h4>
					<form asp-action="Login" method="post">
						@Html.LabelFor(m => m.UserId, new { @class = "form-lable" })
						@Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.UserId,"", new { @class = "text-danger" })
						@Html.LabelFor(m => m.Password, new { @class = "form-lable " })
						@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						<button type="submit" class="btn btn-success w-100 mt-4">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

