@model RadhaCapitalFinance.Core.Entities.CommercialModel;
@{
	ViewData["Title"] = "Commercial";
	Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}
<style>
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .heading {
        background-color: #E2EAF4;
        min-height: 50px;
        color: #060270;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    @@media (max-width: 768px) {
        .heading  {
            justify-content: center;
            padding-left: 0;
            text-align: center;
        }
    }
    .heading1 {
        margin-top: 30px;
        background-color: #060270;
        color: white;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .image {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    b {
        color: #221AE8;
    }
    .fg{
        position:relative;
        margin:0.9rem 0;
    }
    .fg-input{
        width:100%;
        padding:10px 12px;
        border:2px solid #c8c8c8;
        border-radius:8px;
        font-size:16px;
        outline:none;
    }
    .fg-label{
        position : absolute;
        top:10px;
        left:10px;
        color:#777;
        padding:0 5px;
        font-size:16px;
        transition:0.2s ease all;
        background:#fff;
        pointer-events:none;
    }
    .fg-input:focus + .fg-label,
    .fg-input:not(:placeholder-shown) + .fg- label{
        top:-10px;
        font-size:12px;
        color: #0d6efd;
    }
</style>
<div class="container-fluid">
    <h4 class="heading ps-5 ps-md-5  ps-lg-5">
        Commercial Insurance in India: Benefits, Claim Settlement & Restrictions
    </h4>
    <div class="row px-4 mt-4">
        <div class="col-12 col-md-5 mx-md-auto mt-3">
            <p>
                Business or commercial insurance is a form of protection that
                safeguards companies against potential risks and losses. Different
                types of insurance plans are offered in the market to provide financial
                security for a wide range of business-related threats. This may include
                insurance for shops, malls, factories, warehouses, or even commercial vehicles.
            </p>
            <h4 class="heading1 mt-3">Commercial Insurance</h4>
            <p>
                Commercial insurance provides businesses with financial protection
                against unexpected challenges. Popular types of policies include shop
                insurance, warehouse coverage, transit insurance, product and public
                liability insurance, employee liability insurance, marine insurance,
                property insurance, and several others. Such policies act as a safeguard
                for business owners, ensuring support during unforeseen events.
            </p>
            <h4 class="heading1 mt-3">Types off Commercial Insurance</h4>
            <img src="~/Images/came1.jpg" class="image" />
        </div>
       <div class="col-md-6">
           <div class="align-content-container">
               <div class="card">
                   <div class="card-body">
                        <h2>Commercial Insurance</h2>
                       <form method="post">
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.BusinessName , new {@class = "fg-input", placeholder = " "})
                                        @Html.LabelFor(m => m.BusinessName , new {@class = "fg-label"})
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="fg">
                                    @Html.TextBoxFor(m => m.BusinessType, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.BusinessType, new { @class = "fg-label" })
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "fg-input",Type="number", placeholder = " " })
                                        @Html.LabelFor(m => m.Mobile, new { @class = "fg-label" })
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "fg-input",Type="email", placeholder = " " })
                                        @Html.LabelFor(m => m.Email, new { @class = "fg-label" })
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "fg-input", placeholder = " " })
                                        @Html.LabelFor(m => m.Address, new { @class = "fg-label" })
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.Pincode, new { @class = "fg-input",type="number", placeholder = " " })
                                        @Html.LabelFor(m => m.Pincode, new { @class = "fg-label" })
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.PolicyStartDate, new { @class = "fg-input",type="date", placeholder = " " })
                                        @Html.LabelFor(m => m.PolicyStartDate, new { @class = "fg-label" })
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.PolicyEndDate, new { @class = "fg-input", type = "date", placeholder = " " })
                                        @Html.LabelFor(m => m.PolicyEndDate, new { @class = "fg-label" })
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.SumInsured, new { @class = "fg-input", placeholder = " " })
                                        @Html.LabelFor(m => m.SumInsured, new { @class = "fg-label" })
                                   </div>
                               </div>
                               <div class="col-sm-6">
                                   <div class="fg">
                                        @Html.TextBoxFor(m => m.Premium, new { @class = "fg-input", placeholder = " " })
                                        @Html.LabelFor(m => m.Premium, new { @class = "fg-label" })
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <button type="submit" class="btn btn-success w-100">Submit</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="row mt-3 px-4">
        <div class="col-12 col-md-7 mx-md-auto">
            <p class="mt-4">
                <b>Shopkeepers’ Insurance:</b> A shopkeepers’ insurance policy is a suitable option
                for retail store owners engaged in businesses such as grocery shops, clothing outlets,
                small eateries, sweet shops, and more. This all-inclusive policy protects against the various
                risks and uncertainties commonly encountered by small and medium-sized shop owners. It provides
                coverage for losses arising from the following situations:
            </p>
            <ul>
                <li>Fire and Allied Perils</li>
                <li>Burglary and Break-in</li>
                <li>Machinery Damage or Breakdown</li>
                <li>Personal Accident Coverage</li>
            </ul>
            <p class="mt-4">
                <b>Transit Insurance:</b> When valuable business goods are
                moved from one place to another—for instance, from
                a supplier’s factory to a retail store—it is advisable
                to have transit insurance in place. This policy safeguards
                against losses arising from damage or disappearance of the
                consignment. The sales contract should clearly specify who
                is responsible for arranging the transit insurance, and the
                policy must be secured before the goods leave the supplier’s
                premises. Transit insurance is applicable only to goods transported
                by land. Below are some of the items typically covered under this insurance:
            </p>
            <p>
                <b>Commercial vhicle Insurence</b>
                Owners of vehicles used for transporting passengers or
                goods are required to obtain commercial vehicle insurance.
                This insurance provides coverage for the vehicle against
                different kinds of external damages. Key aspects of commercial
                vehicle insurance include:
            </p>
            <ul>
                <li>Compensation for death or bodily injury</li>
                <li>Coverage for damage to property</li>
            </ul>
            <p>
                <b>Liability Insurance:</b>
                This policy safeguards businesses and individuals against risks
                where they could be held legally responsible, particularly for
                establishments like hospitals and business owners. For instance,
                if an employee in a factory suffers an electric shock while at work,
                the factory owner might face a liability claim. In such cases, employee
                liability insurance can provide support by covering medical expenses as well
                as any related legal costs.
            </p>
            <p>
                <b>Warehouse Insurance:</b> Businesses in which majority of the functions are
                dependent and happens in multiple warehouses may consider buying a warehouse
                insurance. It covers natural calamity, fire and similar unforeseen situations
                . Moreover, you can get the compensation against human-made hazards like theft
                and burglary.
            </p>
            <p>
                <b>Office Package Insurance:</b>
                This type of insurance protects one’s office and
                everything under the roof, including the infrastructure.
                It offers protection to the office premises, in case of any
                damage due to fire, theft, burglary, earthquake, etc. It also
                provides personal accident coverage. One should understand all
                the points that are included and excluded in the policy. For instance,
                the policy does not cover any problem arising due to illegal activity
                or war-like situation.
            </p>
        </div>
    </div>
   <div class="row px-4">
       <div class="col-12 col-md-7 mx-md-auto">
           <img src="\Images\comer3.jpg" class="image" />
           <h3 class="heading1 mt-3">Advantages of Commercial Insurance</h3>
           <p>To protect your business and assets from unexpected events and to manage
           potential financial burdens, opting for commercial insurance is a wise decision.
           Some of the key benefits include:</p>
           <ul>
               <li>If you own a business or office setup, insurance becomes essential 
               to safeguard your workplace as well as your employees. By choosing the 
               right type of commercial insurance, you can stay protected against
               various financial challenges.</li>
               <li>For businesses that use commercial vehicles, having 
               commercial vehicle insurance is crucial. It helps in covering
               the heavy expenses that may arise due to accidents or unforeseen damages.</li>
               <li>If your profession or business involves
               dealing with clients or third parties, liability
               insurance under commercial coverage is highly recommended.
               It ensures financial support for losses and covers any legal
               expenses that might come up.</li>
           </ul>
       </div>
   </div>
</div>

