@model IEnumerable<RadhaCapitalFinance.Models.FinanceModel>


@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}
<h2>Customer List</h2>
@if (Model != null && Model.Any())
{
<table class="table table-bordered px-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Consent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
        <tr>
            <td>@item.Id</td>
                <td>@item.Product</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>@item.Consent</td>
        </tr>
        }
    </tbody>
</table>
}
else
{
    <p>No data available. </p>
}


