@model RadhaCapitalFinance.Models.MarineInsuranceModel;
@{
    ViewData["Title"] = "Marine";
    Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}
<style>
    .Image{
        width:100%;
        height:auto;
    }

    .mx-md-auto h4{
        background-color: #060270;
        color:#fff;
        height:40px;
        justify-content:center;
        display:flex;
        align-items:center;
    }
    .fg{
        position:relative;
        margin:0.9rem 0;
    }
    .fg-input{
        width:100%;
        padding:10px 12px;
        border:1.8px solid #c8c8c8;
        border-radius:8px;
        outline:none;
        font-size:16px;
    }
    .fg-label{
        position:absolute;
        top:10px;
        left:12px;
        background:#FFF;
        color:#777;
        font-size:16px;
        transition:0.3s ease all;
        padding: 0 4px;
        pointer-events:none;
    }
    .fg-input:focus + .fg-label,
    .fg-input:not(:placeholder-shown) + .fg-label{
    top:-10px;
        font-size: 12px;
        color: #0d6efd;
    }
</style>
<div class="row">
    <div class="col-12 col-md-6 mx-md-auto">
        <h4>Marine Insurance</h4>
        <p>Marine Insurance is a contract that provides financial protection 
            against loss or damage to ships, cargo, and related property during
            transit by sea, air, or land. It safeguards exporters, importers, and
            vessel owners from risks like accidents, natural calamities, piracy, and 
            theft, ensuring secure and smooth global trade.</p>
        <h4>What is marine transit insurance?</h4>
        <p>Marine transit insurance, often called marine cargo insurance, 
            safeguards your goods against financial losses if they are damaged
            due to natural or man-made causes while in transit. It provides protection
            for shipments moving from the point of origin to the final destination,
            whether transported by road, rail, air, or sea.</p>
        <p>This type of insurance compensates for losses your
            cargo may face during transit from risks such as 
            fire, explosion, hijacking, accidents, collisions, 
            overturning, theft, or adverse weather conditions. 
            The coverage can be customized to suit your business needs</p>
		
    </div>
    <div class="col-12 col-md-4 mx-md-auto ps-1">
        <div class="containt-container">
            <div class="card">
                <div class="card-body">
                    <h2>Marine Insurance</h2>
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.PolicyHolderName , new{@class = "fg-input",placeholder = " "})
                                    @Html.LabelFor(m => m.PolicyHolderName , new{@class = "fg-label"})
                                    @Html.ValidationMessageFor(m => m.PolicyHolderName,"",new{@class = "text-danger"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.CargoDescription ,new {@class = "fg-input" , placeholder = " "})
                                    @Html.LabelFor(m => m.CargoDescription ,new {@class = "fg-label" , placeholder = " "})
                                    @Html.ValidationMessageFor(m => m.CargoDescription,"" ,new {@class = "text-danger" , placeholder = " "})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.DeparturePort, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.DeparturePort, new { @class = "fg-label" })
                                    @Html.ValidationMessageFor(m => m.DeparturePort, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.DestinationPort, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.DestinationPort, new { @class = "fg-label", placeholder = " " })
                                    @Html.ValidationMessageFor(m => m.DestinationPort, "", new { @class = "text-danger", placeholder = " " })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.DepartureDate, new { @class = "fg-input",Type="date", placeholder = " " })
                                    @Html.LabelFor(m => m.DepartureDate, new { @class = "fg-label" })
                                    @Html.ValidationMessageFor(m => m.DepartureDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "fg-input", Type = "date", placeholder = " " })
                                    @Html.LabelFor(m => m.ArrivalDate, new { @class = "fg-label", placeholder = " " })
                                    @Html.ValidationMessageFor(m => m.ArrivalDate, "", new { @class = "text-danger", placeholder = " " })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.TransportMode, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.TransportMode, new { @class = "fg-label" })
                                    @Html.ValidationMessageFor(m => m.TransportMode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.SumInsured, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.SumInsured, new { @class = "fg-label", placeholder = " " })
                                    @Html.ValidationMessageFor(m => m.SumInsured, "", new { @class = "text-danger", placeholder = " " })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.Premium, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.Premium, new { @class = "fg-label" })
                                    @Html.ValidationMessageFor(m => m.Premium, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg">
                                    @Html.TextBoxFor(m => m.RiskCoverage, new { @class = "fg-input", placeholder = " " })
                                    @Html.LabelFor(m => m.RiskCoverage, new { @class = "fg-label", placeholder = " " })
                                    @Html.ValidationMessageFor(m => m.RiskCoverage, "", new { @class = "text-danger", placeholder = " " })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mx-md-auto">
                                <button type="submit" class="btn btn-success w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 col-md-4 me-auto">
        <img src="\Images\marin.png" class="Image" />
    </div>
    <div class="col-12 col-md-6 mx-md-auto">
        <h4>How does marine transit insurance work?</h4>
        <p style="justify-content:center; display:flex; text-align:center;"><b>Here’s the working of a marine insurance policy</b></p>
        <p>The functioning of a marine transit insurance policy is straightforward.
            Once you purchase the policy, the responsibility for covering potential 
            damages shifts to the insurance company. If a loss occurs, you notify the insurer,
            who then assigns a surveyor to evaluate the extent of the damage. After the surveyor’s 
            report, the insurer provides compensation accordingly.</p>
        <p>Therefore, marine transit insurance ensures peace of mind by offering a financial safeguard in case your cargo sustains any damage.</p>
        <h5>Types of Marine Transit Insurance</h5>
        <p>Marine transit insurance can be classified into the following categories:</p>
        <ul>
            <li><b>Inland Transit Insurance:</b> Covers goods transported within India.</li>
            <li><b>Import Transit Insurance:</b> Covers goods being shipped from a foreign country to India.</li>
            <li><b>Export Transit Insurance:</b>Covers goods being shipped from India to an overseas destination.</li>
        </ul>
        <h4>Why do you need marine transit insurance?</h4>
        <span class="fw-bold">Protecting Your Cargo from Transit Risks</span>
        <p>Goods in transit often represent significant value, and any damage
            can lead to serious financial setbacks for your business. Even with 
            careful handling, cargo remains exposed to a variety of risks, including:</p>
        <ul style="list-style-type: circle;">
            <li>Damage from fire, explosions, lightning, earthquakes, or volcanic eruptions</li>
            <li>Theft or hijacking of cargo</li>
            <li>Vehicle collisions during transit</li>
            <li>Overturning or derailment of the transporting vehicle</li>
            <li>Loss or damage while loading or unloading goods</li>
            </ul>
        <span class="fw-bold">To facilitate trade</span>
        <p>Many national and international trade agreements require marine 
            transit insurance. Maintaining adequate coverage reflects your
            financial reliability, which can help you secure business opportunities,
            build stronger partnerships, and make trade financing more accessible.</p>
    
    <span class="fw-bold">For business continuity</span>
    <p>When cargo is lost or damaged, recovering financially
        can take time. Marine transit insurance helps your business
        recover more quickly by reducing downtime and compensating for
        the losses.</p>
    </div>
   
</div>

